*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    padding: 30px;
    background-color: steelblue;
    align-items: center;
    justify-content: center;
}

.retangulo{
    border: 1px solid rgb(61, 70, 78);
    width: 400px;
    text-align: center;
    height: 200px;
}

.input{
    margin: 20px;
    display: flex;
    flex-direction: column;
}