*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    padding: 30px;
    background-color: steelblue;
    align-items: center;
    justify-content: center;
}

.retangulo{
    border: 1px solid rgb(61, 70, 78);
    text-align: center;
}

.input{
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    flex-direction: column;
}

.input > input{
    border-radius: 5px;
    margin-bottom: 10px;
}